.cardWrapper {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 6rem;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 2rem;
    background: rgb(138, 138, 233);
    border-bottom: 2px solid red;
    margin: 0;
}

.fdc-id {
    color: white;
}